#mySwiper{margin-top: 15rem;margin-bottom: 10rem;}
.line{width: 200px;height: 2px;background-color: black;}
#mySwiper h1{color: black;margin-bottom: 10px;}
.mySwiper .swiper-slide{height: 300px;position: relative;cursor: pointer;}
.mySwiper img{filter: brightness(.7);width: 100%;position: absolute;top: 0;left: 0;-webkit-box-shadow: -2px 5px 27px -8px rgba(0,0,0,0.54);-moz-box-shadow: -2px 5px 27px -8px rgba(0,0,0,0.54);box-shadow: -2px 5px 27px -8px rgba(0,0,0,0.54);}
#mySwiper .mySwiper{padding-top: 30px;}
.mySwiper .swiper-slide .text-area{position: absolute;top:20%;left:5%;color: white;z-index: 9;}