#mySwiper{margin-top: 15rem;margin-bottom: 10rem;}
#mySwiper .line{width: 200px;height: 2px;background-color: black;}
#mySwiper h1{color: black;margin-bottom: 10px;}
.mySwiper .swiper-slide{height: 300px;}
.mySwiper img{filter: brightness(.7);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
#mySwiper .mySwiper{padding-top: 30px;}